KpiSchedule.EtlStepFunction/serverless.yml
service: kpi-schedule-etl-steps
app: kpi-schedule
frameworkVersion: '3'
plugins:
  - serverless-step-functions
  - serverless-plugin-log-retention
  - serverless-prune-plugin

provider:
  name: aws
  stage: ${opt:stage, 'dev'}
  runtime: dotnet6
  region: eu-central-1
  memorySize: 512
  timeout: 900
  # Lambda function's IAM Role
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "dynamodb:*"
          Resource: "arn:aws:dynamodb:${self:provider.region}:${self:custom.account}:table/KpiSchedule*"
        - Effect: "Allow"
          Action:
            - "sqs:*"
          Resource: "arn:aws:sqs:${self:provider.region}:${self:custom.account}:KpiSchedule*"

custom:
  account: 251999958052
  logRetentionInDays: 30
  prune:
    automatic: true
    number: 3
  
package:
  artifact: bin/deploy-package.zip

functions: 
  roz-kpi-group-schedules-etl:
    handler: KpiSchedule.EtlStepFunction::KpiSchedule.EtlStepFunction.SchedulesEtlTasks::RozKpiGroupSchedulesEtlTask
    
  roz-kpi-teacher-schedules-etl:
    handler: KpiSchedule.EtlStepFunction::KpiSchedule.EtlStepFunction.SchedulesEtlTasks::RozKpiTeacherSchedulesEtlTask

  iterate-and-sum-results-schedules-etl:
    handler: KpiSchedule.EtlStepFunction::KpiSchedule.EtlStepFunction.SchedulesEtlTasks::IteratePrefixesAndSumResults

stepFunctions:
  stateMachines:
    KpiSchedule-EtlSteps:
      events:
        - schedule:
          rate:
            - cron(0 4 * * SAT *) # run every Saturday at 4 AM UTC
          enabled: true
          input: 
            Prefixes: ["а","б","в","г","д","е","є","ж","з","и","і","ї","й","к","л","м","н","о","п","р","с","т","у","ф","х","ц","ч","ш","щ","ю","я"]
            BatchSize: 2

      name: KpiScheduleEtlSteps
      definition:
        StartAt: Chunk input and init iterator
        States:
          Chunk input and init iterator:
            Type: Pass
            Next: Loop condition
            Parameters:
              PrefixChunks.$: States.ArrayPartition($.Prefixes, $.BatchSize)
              Index: 0
              Count.$: States.ArrayLength(States.ArrayPartition($.Prefixes, $.BatchSize))
              GroupSchedules:
                TotalParsed: 0
                ParserExceptions: 0
                ClientExceptions: 0
                UnhandledExceptions: 0
              TeacherSchedules:
                TotalParsed: 0
                ParserExceptions: 0
                ClientExceptions: 0
                UnhandledExceptions: 0
          Loop condition:
            Type: Choice
            Choices:
              - Variable: $.Index
                NumericLessThanPath: $.Count
                Comment: Continue loop
                Next: Loop body
            Default: Success
          Success:
            Type: Succeed
          Loop body:
            Type: Parallel
            Branches:
              - StartAt: Extract Group Schedules from roz.kpi.ua
                States:
                  Extract Group Schedules from roz.kpi.ua:
                    Type: Task
                    Resource: arn:aws:states:::lambda:invoke
                    OutputPath: $.Payload
                    Parameters:
                      FunctionName: >-
                        arn:aws:lambda:${self:provider.region}:${self:custom.account}:function:kpi-schedule-etl-steps-dev-roz-kpi-group-schedules-etl:$LATEST
                      Payload.$: $
                    Retry:
                      - ErrorEquals:
                          - Lambda.ServiceException
                          - Lambda.AWSLambdaException
                          - Lambda.SdkClientException
                          - Lambda.TooManyRequestsException
                        IntervalSeconds: 2
                        MaxAttempts: 6
                        BackoffRate: 2
                      - ErrorEquals:
                          - TaskCanceledException
                        BackoffRate: 2
                        IntervalSeconds: 10
                        MaxAttempts: 5
                        Comment: Retry on timeout from roz.kpi.ua
                    End: true
              - StartAt: Extract Teacher Schedules from roz.kpi.ua
                States:
                  Extract Teacher Schedules from roz.kpi.ua:
                    Type: Task
                    Resource: arn:aws:states:::lambda:invoke
                    OutputPath: $.Payload
                    Parameters:
                      FunctionName: >-
                        arn:aws:lambda:${self:provider.region}:${self:custom.account}:function:kpi-schedule-etl-steps-dev-roz-kpi-teacher-schedules-etl:$LATEST
                      Payload.$: $
                    Retry:
                      - ErrorEquals:
                          - Lambda.ServiceException
                          - Lambda.AWSLambdaException
                          - Lambda.SdkClientException
                          - Lambda.TooManyRequestsException
                        IntervalSeconds: 2
                        MaxAttempts: 6
                        BackoffRate: 2
                      - ErrorEquals:
                          - TaskCanceledException
                        BackoffRate: 2
                        IntervalSeconds: 10
                        MaxAttempts: 5
                        Comment: Retry on timeout from roz.kpi.ua
                    End: true
            Next: Iterate and sum results
            Parameters:
              Prefixes.$: States.ArrayGetItem($.PrefixChunks, $.Index)
            ResultPath: $.IterationOutput
            ResultSelector:
              GroupSchedules.$: $[0]
              TeacherSchedules.$: $[1]
          Iterate and sum results:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              Payload.$: $
              FunctionName: >-
                arn:aws:lambda:${self:provider.region}:${self:custom.account}:function:kpi-schedule-etl-steps-dev-iterate-and-sum-results-schedules-etl:$LATEST
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 2
                MaxAttempts: 6
                BackoffRate: 2
            Next: Loop condition
        Comment: Processing completed

    
    
resources:
  Resources:
    GroupSchedulesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
        - AttributeName: GroupName
          AttributeType: S
        - AttributeName: ScheduleId
          AttributeType: S
        TableName: KpiSchedule-GroupSchedules
        KeySchema:
        - AttributeName: ScheduleId
          KeyType: HASH
        GlobalSecondaryIndexes:
        - IndexName: GroupName-index
          KeySchema:
          - AttributeName: GroupName
            KeyType: HASH
          Projection:
            ProjectionType: KEYS_ONLY
        BillingMode: PAY_PER_REQUEST

    TeacherSchedulesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
        - AttributeName: TeacherName
          AttributeType: S
        - AttributeName: ScheduleId
          AttributeType: S
        TableName: KpiSchedule-TeacherSchedules
        KeySchema:
        - AttributeName: ScheduleId
          KeyType: HASH
        GlobalSecondaryIndexes:
        - IndexName: TeacherName-index
          KeySchema:
          - AttributeName: TeacherName
            KeyType: HASH
          Projection:
            ProjectionType: KEYS_ONLY
        BillingMode: PAY_PER_REQUEST

    StudentSchedulesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
        - AttributeName: OwnerId
          AttributeType: S
        - AttributeName: ScheduleId
          AttributeType: S
        TableName: KpiSchedule-StudentSchedules
        KeySchema:
        - AttributeName: OwnerId
          KeyType: HASH
        - AttributeName: ScheduleId
          KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
  
  Outputs:
    KpiScheduleEtlSteps:
      Value:
        Ref: KpiScheduleEtlSteps